<div id="<%= dom_id character %>">
  <div>
    <strong>Name:</strong>
    <%= character.name %>
  </div>

  <div>
    <strong>Origin:</strong>
    <%= character.origin %>
  </div>

  <div>
    <strong>Character class:</strong>
    <%= character.character_class %>
  </div>

  <div>
    <strong>Archetype:</strong>
    <%= character.archetype %>
  </div>

  <div>
    <strong>Current pv:</strong>
    <%= character.current_pv %>
  </div>

  <div>
    <strong>Current pe:</strong>
    <%= character.current_pe %>
  </div>

  <div>
    <strong>Current sanity:</strong>
    <%= character.current_sanity %>
  </div>

  <div>
    <strong>Nex:</strong>
    <%= character.nex %>
  </div>

  <div>
    <strong>Patent:</strong>
    <%= character.patent %>
  </div>

  <div>
    <strong>Prestige points:</strong>
    <%= character.prestige_points %>
  </div>

  <div>
    <strong>Element affinity:</strong>
    <%= character.element_affinity %>
  </div>

  <div>
    <strong>User:</strong>
    <%= character.user_id %>
  </div>

  <div>
    <strong>For:</strong>
    <%= character.for %>
  </div>

  <div>
    <strong>Agi:</strong>
    <%= character.agi %>
  </div>

  <div>
    <strong>Int:</strong>
    <%= character.int %>
  </div>

  <div>
    <strong>Pre:</strong>
    <%= character.pre %>
  </div>

  <div>
    <strong>Vig:</strong>
    <%= character.vig %>
  </div>

</div>
